App_WebReferences/CrwClient/CrawlerWCF1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CrawlerWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://gggg:777/CrawlerWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://gggg:777/CrawlerWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://gggg:777/CrawlerWCF.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICrawlerWCF_GetContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContent" />
  </wsdl:message>
  <wsdl:message name="ICrawlerWCF_GetContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContentResponse" />
  </wsdl:message>
  <wsdl:message name="ICrawlerWCF_Lemmas_InputMessage">
    <wsdl:part name="parameters" element="tns:Lemmas" />
  </wsdl:message>
  <wsdl:message name="ICrawlerWCF_Lemmas_OutputMessage">
    <wsdl:part name="parameters" element="tns:LemmasResponse" />
  </wsdl:message>
  <wsdl:portType name="ICrawlerWCF">
    <wsdl:operation name="GetContent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrawlerWCF/GetContent" message="tns:ICrawlerWCF_GetContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrawlerWCF/GetContentResponse" message="tns:ICrawlerWCF_GetContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Lemmas">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrawlerWCF/Lemmas" message="tns:ICrawlerWCF_Lemmas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrawlerWCF/LemmasResponse" message="tns:ICrawlerWCF_Lemmas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICrawlerWCF" type="tns:ICrawlerWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContent">
      <soap:operation soapAction="http://tempuri.org/ICrawlerWCF/GetContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lemmas">
      <soap:operation soapAction="http://tempuri.org/ICrawlerWCF/Lemmas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CrawlerWCF">
    <wsdl:port name="BasicHttpBinding_ICrawlerWCF" binding="tns:BasicHttpBinding_ICrawlerWCF">
      <soap:address location="http://gggg:777/CrawlerWCF.svc/mex" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>